.body {
  background-image: url("@/assets/images/bg.jpg");
  background-size: cover;
}
.container {
  margin-top: 200px;
  min-height: calc(100vh - 300px);
  background-image: url("@/assets/images/cart-bg.png");
  background-repeat: repeat;
}
