.container {
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  line-height: 2;
  min-height: calc(100vh - 225px);
}
.body {
  background-image: url("@/assets/images/bg.jpg");
  background-size: cover;
}
#btn {
  background-color: #fdbc2c;
  color: black;
  margin-top: -30%;
  justify-self: flex-start;
}
