.form {
  margin: 0px 200px 100px 200px;
  background-image: url("@/assets/images/card-bg.png");
  background-repeat: repeat;
  border-radius: 20px;
}
.btn {
  margin-bottom: 30px;
  color: black;
  background-color: #fdbc2c;
}
div {
  font-size: 17px;
  color: white;
}
