div {
  text-align: center;
}
.menu-bg {
  background-image: url("@/assets/images/card-bg.png");
  background-repeat: repeat;
  color: white;
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  transition: all 0.4s;
  height: 110px;
  border-bottom: 4px solid #d94f2b;
}
.menu img {
  transition: 0.5s;
}
.menu img:hover {
  transform: scale(0.9);
}

.menu .contact,
.menu .info,
.menu .total {
  padding: 3em 0;
  text-align: center;
  font-weight: bold;
}
.info .content {
  display: none;
  position: absolute;
  color: white;
  background-image: url("@/assets/images/cart-bg.png");
  background-repeat: repeat;
  min-width: 14.5%;
  margin-top: 40px;
}
.contact .content {
  padding: 0 30px;
  display: none;
  position: absolute;
  color: white;
  background-image: url("@/assets/images/cart-bg.png");
  background-repeat: repeat;
  min-width: calc(14.5%+ 30px);
  margin-top: 40px;
}
.info .content {
  display: none;
  position: absolute;
  color: white;
  background-image: url("@/assets/images/cart-bg.png");
  background-repeat: repeat;
  min-width: 14.5%;
  margin-top: 40px;
}
.contact span:hover .content {
  display: flex;
  justify-content: center;
}
.info span:hover .content {
  display: flex;
  justify-content: center;
}
span {
  transition: 0.5s;
}
span:hover {
  color: yellow;
}
.menu .searchArea {
  padding: 1.5em 0;
}
.margin-img {
  margin-top: 10px;
}
.margin-img .content {
  display: none;
  position: absolute;
  color: white;
  background-image: url("@/assets/images/cart-bg.png");
  background-repeat: repeat;
  min-width: 14.5%;
  margin-top: 3px;
}
.margin-img:hover .content {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.top {
  flex-grow: 1;
}
.footer {
  background-color: rgb(67, 67, 67);
}
